version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
          command: |
            pip install pytest
            pip install mock
            pip install boto3
            pip install coverage
            $HOME/.local/bin/coverage run --source src/ -m pytest tests/ -v
            $HOME/.local/bin/coverage report
            $HOME/.local/bin/coverage html 
          name: Test
      - store_test_results:
          path: htmlcov    
workflows:
  main:
    jobs:
      - build-and-test 
