langchain
openai
streamlit
black
tabulate
huggingface-hub
redis
streamlit-image-select
requests
transformers
accelerate
bitsandbytes
torch
streamlit-agraph
streamlit-extras
pandasai
tk
safetensors
faiss
pytube
