langchain
openai==1.0.0b1
streamlit
black
tabulate
huggingface-hub
redis
streamlit-image-select
requests
transformers==4.30
accelerate
bitsandbytes
torch
streamlit-agraph
streamlit-extras
pandasai
tk
safetensors
